{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'customerApp/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'customerApp/css/style.css'%}" type="text/css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% block mywork %}

    {% endblock %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'c_home' %}">Home</a></li>
                            
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    
                                    <li><a href="{% url 'my-cart' %}">Shopping Cart</a></li>
                                    
                                    
                                </ul>
                            </li>
                            
                            
                            {% if uid %}
                            <li><a href="#">Welcome {{cid.firstname}}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'my-cart' %}">My CArt</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="#">Login</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'login' %}">Login As Customer</a></li>
                                    <li><a href="./shop-details.html">Shopkeeper Account</a></li>
                                    
                                </ul>
                            </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    
    {% block content %}
    
    <section class="hero">
        <div class="hero__slider owl-carousel">
            {% for i in offers %}
            <div class="hero__items set-bg" data-setbg="{{i.pic.url}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                
                                <h2>{{i.title}}</h2>
                                <h6>Offer added by {{i.Shopkeeper_id.shop_name}}</h6>
                                <p>{{i.description}}</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </section>
    {%  endblock %}
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section height="200px">
    <div height="100px">
    </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for i in all_products%}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{i.pic.url}}">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>{{i.product_name}}</h6>
                            <a href="{% url 'selected-product' pk=i.id %}" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>Rs. {{i.product_price}}</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor%}
              
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
   
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="{% url 'c_home' %}">Laptop</a></li>
                            <li><a href="{% url 'c_home' %}">Mobile</a></li>
                            <li><a href="{% url 'c_home' %}">Accessories</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        
                        <ul>
                            <h6>Contact Us</h6>
                            <h6>Mo: +91 9974175404</h6>
                            <h6>A-504, Shree Appartment, Ahmedabad </h6>
                            
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                           2020
                            All rights reserved | This Web-site is made by <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by Priti Antala
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'customerApp/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'customerApp/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'customerApp/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'customerApp/js/jquery.nicescroll.min.js'%}"></script>
    <script src="{% static 'customerApp/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'customerApp/js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'customerApp/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'customerApp/js/mixitup.min.js'%}"></script>
    <script src="{% static 'customerApp/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'customerApp/js/main.js'%}"></script>
</body>

</html>