<script>
    $(".btn-plus").click(function(){

        console.log("------>button clicked");
        let csr=$("input[name=csrfmiddlewaretoken]").val();

        let id=$(this).attr("data-sid");
        console.log("----->id plus value",id);
        var html_qty_id="#myproduct"+id;
        console.log("---->actual id is",html_qty_id);
        mydata={
            id:id,
            csrfmiddlewaretoken:csr,
        }

        $.ajax(
            {
                url:"{% url 'plus-product' %}",
                method:"POST",
                data:mydata,

                success:function(response)
                {
                    console.log("response:",response.context.qty);
                    console.log("response:",response.context.price);

                    $(html_qty_id).html(response.context.qty)

                }
            }
        )
    })

    $(".btn-minus").click(function(){

        console.log("------>button clicked");

        let id=$(this).attr("data-sid");
        console.log("----->id minus value",id);
    })
</script>