{% extends 'customerApp/c_index.html' %}
{% block mywork %}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="mytbody">
                                <form method="post" action="">
                                {% csrf_token %}
                                {% for i in myall_product %}
                                <tr>
                                   
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{i.product_id.pic.url}}" alt="" height="100px" width="100px">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{i.product_id.product_name}}</h6>
                                            <h5>Rs.{{i.product_id.product_price}}</h5>
                                        </div>
                                    </td>
                                    <td><button type="button" class="btn-plus" data-sid="{{i.id}}">+</button>
                                    </td>
                                        <td><label id="myproduct{{i.id}}">{{i.my_qty}}</label></td>
                                    <td><button type="button" class="btn-minus" data-sid="{{i.id}}">-</button>
                                    </td>
                                
                                    <td class="cart__price" id="myproductprice{{i.id}}">Rs. {{i.total_price}}</td>
                                    <td class="cart__close">
                                        <a href="{% url 'delete-product' pk=i.id %}">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                </tr>
                               {% endfor %}
                            </form>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="" method="POST">
                            {% csrf_token  %}
                            <input type="text" placeholder="Coupon code" id="couponcodeid">
                            <button type="button" id="couponcodebtn">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <form action="{% url 'proceed_checkout' %}" method="POST">
                            {% csrf_token %}
                        <h6>Cart total</h6>
                        <ul>
                            <input type="hidden" name="total_price_field" id="total_price_field" value="{{total_price}}">
                            <li>Total <span id="total_price_id">Rs{{total_price}} </span></li>
                            <li>Discount <span id="discount_id">Rs.0 </span></li>
                            <li>NET AMOUNT <span id="net_amount">Rs{{total_price}} </span></li>
                        </ul>
                        
                            <input type="submit" class="primary-btn" value="PROCEED TO CHECKOUT"/>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'customerApp/myajaxfile.html'%}
{% endblock %}
    <!-- Shopping Cart Section End -->

